#friends-display-link {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  z-index: -1;
  font-size: 16px;
  margin-bottom: 15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
