.badge {
  font-size: 14px;
  background-color: tomato;
  color: white;
  font-weight: 600;
  width: 26px;
  height: 26px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
