.screen-header {
  /* position: fixed; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
}

.header__title {
  font-size: 32px;
  font-weight: 700;
}

.header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.header__icons .fa-gear:hover {
  animation: rotateCog 3s linear infinite;
}
